@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
  transition: scroll-behavior var(--scroll-speed, 1000ms);
}

.nav-menu {
  @apply cursor-pointer;
}
section {
  @apply w-full;
}

.nav-menu:hover {
  @apply transform scale-110 duration-700;
}

.why-us-card-wrapper{
  @apply  w-36 m-auto
}
.why-us-img-card {
  @apply border rounded-md w-36 h-36 p-2
}
.why-us-card-txt
{
  @apply w-full text-center py-3 font-semibold uppercase
}